@tailwind base;
@tailwind components;
@tailwind utilities;

.modelMaleFront {
  color: #1576d1;
  fill: currentColor;
  display: inline-block;
  vertical-align: top;
  width: 168px;
  height: 320px;
}
